<div ml-bind="[Container, list]:myList1">
    <div ml-bind="[item]:result">
        <span ml-bind="[Data]:name"></span>
        <div ml-bind="[Data]:surname"></div>
        <input ml-bind="[Data]:contact" type="text" value="" readonly/>
    </div>
</div>
<div ml-bind="[Container, list]:myList2">
    <div ml-bind="[item]:result">
        <span ml-bind="[Data]:name"></span>
        <div ml-bind="[Data]:surname"></div>
        <input ml-bind="[Data]:contact" type="text" value="" readonly/>
    </div>
</div>